.main{
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: right;
}
.content h3{
    padding-top: 10px;
}
.logo {
    text-align: right;
}

.link {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}